.navbar {/*style for the navbar*/
    width: 100%; 
    height: 100px;
    background-color: rgb(145, 226, 209);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
  }  

.logo {/*style for the logo*/
  margin-left: 2.5rem;
  height: 8rem;
}

.navbar ul {/*style for the list*/
    display: flex;
    margin-right: auto;
}

.navbar ul li {/* style for the list items*/
    list-style: none;
    margin-right: 40px;
}

.navbar.scrolled {/*style for the navbar when scrolled*/
  background: rgb(126, 204, 165, 0.9);
  transition: 0.4s;
}
