.sectionParent {
    position: relative;
    
    background-image: url("../../public/images/nurseGroup.jpg");
    background-size: cover; /* cover the entire section */
    background-position: center; /* center the image */
    background-repeat: no-repeat; /* do not repeat the image */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 40vh;
    /* overflow: hidden; */
}

.sectionParent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent*/
    z-index: 1;
}

.text-white {
    position: relative;
    z-index: 100;
}

.subIntro {
    background-color: rgb(145, 226, 209);
    

}

.rightBox{
    background-color: rgb(90, 141, 130);
}

.leftBox{
    background-color: rgb(90, 141, 130);
}

